main {
    border: 1px solid green;
    padding: 18px 72px;
    width: 25%;
    margin: auto;
}

section {
    border: 1px solid blue;
}

article {
    border: 1px solid black;
    padding: 18px;
    margin: 18px;
    text-align: center;
}