section {
    border: 1px dashed black;
    padding: 0px 18px 18px 18px;
}

.margin {
    background-color: red;
    width: 25%;
    margin: auto;
}

.border {
    background-color: green;
}

.padding {
    background-color: blue;
}

.content {
    background-color: yellow;
    text-align: center;
}