div {
    width: 200px;
    height: 100px;
    border: 2px solid #000;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}