section{
    border: 2px solid black;
    margin-bottom: 16px;
}

.fixed-height {
    height: 300px;
}

.percentage-height {
    height: 50%;
}

.viewport-height {
    height: 50vh;
}

.min-max-height {
    min-height: 100px;
    max-height: 300px;
}