div {
    margin-bottom: 16px;
    max-width: 300px;
    padding: 16px;
}

.solid-border {
    border: 4px solid black;
}

.dashed-border {
    border: 3px dashed #333;
}

.dotted-border {
    border: 2px dotted #666;
}

.mixed-border {
    border-top: 3px dashed #333;
    border-right: 4px solid #000;
    border-bottom: 3px dashed #333;
    border-left: 4px solid #000;
}