body {
    background-color: lightgray;
}

main {
    width: 30%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
}