.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 20px);
    border: 5px solid black;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
}

img {
    width: 100%;
    height: auto;
    margin: auto;
}

p {
    color: gray;
}