body {
    background-color: lightgray;
}

main {
    width: 90%;
    margin: auto;
    background-color: white;
}

.container {
    display: flex;
}

.item {
    flex-grow: 1;
    border: 1px solid lightgrey;
    padding: 1em;
    text-align: center;
}

.speical {
    width: 200px;
    border: 1px solid lightgrey;
    padding: 1em;
    text-align: center;
    border-bottom: none;
}

.empty {
    width: 200px;
    border: 1px solid lightgrey;
    padding: 1em;
    text-align: center;
    border-top: none;
}