body {
    padding: 20px;
}

.tree,
.tree ul {
    list-style: none;
    padding-left: 20px;
    position: relative;
}

.tree ul {
    display: none;
}

.tree input[type="checkbox"] {
    display: none;
}

.tree label {
    cursor: pointer;
    position: relative;
}

.tree label::before {
    content: "+";
    margin-right: 8px;
    font-weight: bold;
    color: lime;
}

.tree input[type="checkbox"]:checked+label::before {
    content: "-";
}

.tree input[type="checkbox"]:checked+label+ul {
    display: block;
}

.tree li {
    margin: 6px 0;
    padding-left: 8px;
    position: relative;
}

.tree li::before {
    content: "";
    position: absolute;
    top: 14px;
    left: -12px;
    width: 10px;
    height: 1px;
    background: lightgray;
}

.tree li::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -12px;
    width: 1px;
    height: 22px;
    background: lightgray;
}