header, main, footer{
    display: flex;
    border: 2px solid blue;
    padding: 2em;
    margin: 2em;
}

main{
    display: flex;
    border: 2px solid blue;
    padding: 2em;
    margin: 2em;
    height: 580px;
}