body {
    background-color: lightgray;
}

main {
    width: 90%;
    margin: auto;
    background-color: white;
}

.header {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 1em;
}

hr {
    width: 5%;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.column {
    width: 30%;
}

.footer {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 1em;
}