section {
    border: 1px solid black;
    padding: 16px;
}

.para {
    border: 1px solid black;
    background-color: lightgrey;
    padding: 16px;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}