.content-box {
    width: 300px;
    padding: 20px;
    border: 5px solid black;
    box-sizing: content-box;
    margin-bottom: 18px;
}

.border-box {
    width: 300px;
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box;
}